@import "modules/variables";
@import "modules/mixins";
@import "modules/menu";
@import "modules/btn";

// body {
//   margin-top: -290px;

//   &.first-visit {
//     margin-top: 0;
//   }
// }

a {
  color: #111;

  @include transition( all, .5s, ease );

  &:hover {
    text-decoration: none;
    border-bottom: 1px solid;
  }
}

input {
  box-shadow: none;
}

li {
  list-style-type: none;
}

.menu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
  @include transition( all, .3s, ease );

  &.active {
    left: 280px;
    margin-left: 20px;
  }
}

.bookerTitle {
  font-family: $serif;

  font-size: 2em;
  font-weight: 300;
  color: rgb( 255, 255, 255 );

  &:hover {
    color: rgb( 255, 255, 255 );
  }
}

.splash {
  background: rgb(0, 174, 239);
  color: rgb(255, 255, 255);
  height: 85px;
  padding: 20px 0 30px 0;
  margin-left: -60px;
  font-family: $serif;

  text-align: center;

  .search {
    max-width: 100%;
    min-width: 40%;
    padding-left: 80px;
    margin: 0 auto;
    
    @media (max-width: 767px) {
      max-width: 80%;
    }
    
    input,
    .search-query {
      padding: 10px 15px;
      border-radius: 20px;
      font-weight: 300;
      font-size: 20px;
      height: 42px;
      font-family: $serif;
      outline:none;
      border: none;
      display:block;
      width:100%;
      min-height:30px;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      width:530px !important;
      margin: 0 auto;
      background: rgb(255, 255, 255);
      @include transition( all, .3s, ease );
      
      &:focus {
        -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.175);
        box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.175);
      }
      
      @media (max-width: 767px) {
        max-width: 100%;
        min-height:20px;
        margin-left: 20px;
      }
    }
  }
}

.books {
  padding: 20px 0;
  margin-left: -20px;

  .book {
    margin-bottom: 50px;
    position: relative;
    max-width: 1100px;
  }

  .book-image {
    height: 200px;
    width: 150px;
    background: rgb(181, 34, 9);
    color: rgb(255, 255, 255);
    font-family: $serif;
    box-shadow: -2px 2px 0px rgb(17, 17, 17);
    text-shadow: 0 1px 0px rgb(17, 17, 17);
    
    @media (max-width: 767px) {
      width: 10px;
      box-shadow: none;
      text-shadow: none;
      color: transparent;
      margin-left: 20px;
    }

    .book-iauthor {
      margin: 20px 10px 0;
      font-size: 20px;
      line-height: 24px;
      font-weight: 300;
      font-family: $serif;
    }

    .book-ititle {
      margin: 0 10px;
      font-size: 25px;
      font-weight: 700;
      position: absolute;
      bottom: 40px;
   
      &.medium {
        font-size:20px;
      }
      
      &.small {
        font-size: 15px;
      }
    }
  }

  .book-info {
    margin-left: 10px;
    height: 200px;
  }

  .book-title {
    font-size: 32px;
    margin: 0;
    line-height: 25px;
    font-weight: 700;

    font-family: $sans-serif;
  }

  .book-meta {
    color: rgb(179, 179, 177);
    font-weight: 400;
    font-family: $serif;

    .tags {
      &:after {
        content: ", ";
      }

      &:last-child {
        &:after {
          content: "";
        }
      }
    }

    a {
      color: rgb(179, 179, 177);
    }
  }

  .book-description {
    font-weight: 400;
    font-size: 18px;
    color: rgb(51, 51, 50);
    line-height: 1.4;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: $serif;
    /* TODO: То, что ниже, выпилить, после добавления формы публикации книг */
    max-height: 80px;
    overflow: hidden;
  }

  .book-download {
    list-style: none;
    position: absolute;
    bottom: 0;
    margin-left: -40px;

    li {
      display: inline-block;
      line-height: 30px;
      margin-right: 10px;
    }
  }
  
  .more {
    width: 100%;
    padding: 25px 0 25px 0;
    margin-left: -15px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    //box-shadow: 1px 1px 1px 1px #ddd;
    @include transition( all, .3s, ease );
    
    @media (max-width: 767px) {
      margin-left: 0;
    }
  }
}

.fadein-animate  {
  &.ng-enter,
  &.ng-leave,
  &.ng-move,
  &.ng-view
  &.ng-hide {
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    position:relative;
  }
}

.fadein-animate.ng-enter {
  opacity:0;
}
.fadein-animate.ng-enter.ng-enter-active {
  opacity:1;
}

.fadein-animate.ng-leave {
  opacity:1;
}
.fadein-animate.ng-leave.ng-leave-active {
  opacity:0;
}

.fadein-animate.ng-move {
  opacity:0.5;
}
.fadein-animate.ng-move.ng-move-active {
  opacity:1;
}
input::-webkit-input-placeholder { 
  line-height: 1.4em;
}

.books-add {
  margin: 0 auto;
  width: 400px;

  h2 {
    font-weight: 700;
    font-family: $serif;
    text-align: center;
    margin: 20px auto 30px auto;
    
    span {
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
    }
    
  }
  
  dl {
    dt {
      width: 400px;
      margin-right: 20px;
      font-size: 16px;
      font-family: $sans-serif;
      padding: 10px;
      
      sup {
        &.question {
          border-bottom: 1px dotted;
          cursor: pointer;
        }
        
        .formats {
        }
      }
    }
    
    dd {
    }
  }
  
  span.alert {
    font-weight: 300;
    font-size: 14px;
    color: rgb(192, 57, 43);
    padding: 0;
  }
  
  .btn {
    border-radius: 5px;
    @include transition( all, .3s, ease );
    outline: none;
    padding: 10px;
  }
  
  .selectize-input,
  .input-add, 
  .textarea {
  	padding: 7px 10px;
  	border: 1px solid #ccc;
  	outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    @include transition( all, .3s, ease );
    width: 400px;
    font-family: $sans-serif;
    
    &.focus,
    &:focus {
    	border: 1px solid rgb(0, 174, 239);
    	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
    	/*box-shadow: 0 0 15px #CCCCFF;*/
  	}
  } 
  
  .textarea {
  	height: 80px;
  	resize: vertical;
  }
  
  .callback {
    display: hidden;
    margin-top: 40px;
    font-size: 18px;
  }
}

.pace .pace-progress {
  background: #ffffff;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 0.1s;
  -moz-transition: width 0.1s;
  -o-transition: width 0.1s;
  transition: width 0.1s;
}

.pace-inactive {
  display: none;
}