@import "variables";
@import "mixins";

.btn-bookerMenu {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 9px 19px 10px 19px;
  height: 42px;
  font-weight: 400;
  font-size: 1.4em;
  z-index: 200;
  
  background: rgb( 17, 17, 17 );

  color: rgb( 255, 255, 255 );
  border-radius: 0;
  text-shadow: none;
  border: 0;
  font-family: $serif !important;
  @include transition( all, .3s, ease );

  span {
    display: none;
  }

  &.active,
  &:active {
    background: rgb( 17, 17, 17 );
    color: rgb(255, 255, 255);

    box-shadow: none;

    span {
      display: inline;
    }
    
    &:hover,
    &:focus {
      background: rgb( 17, 17, 17 );
    }
  }

  &:hover,
  &:focus {
    border: 0;
    background: rgb( 40, 40, 40 );
    color: rgb(255, 255, 255);
  }
}

.btn {
  color: white;
  border: 0;
  border-radius: 0;
  text-shadow: none;

  font-family: $serif;

  &.btn-blue {
    background: $blue;

    &:hover,
    &:focus {
      color: rgb(255, 255, 255);
      background: lighten($blue, 10%);
    }
  }


  &.btn-download {
    padding: 10px;
  }
}

.sans-serif {
  font-family: $sans-serif !important;
}

a.btn {
  border: 0;

  &:hover {
    border: 0;
  }
}