@import "mixins";

.menu {
  background: rgb( 17, 17, 17 );
  position: fixed;
  left: -300px;
  width: 240px;
  height: 100%;
  padding: 40px 20px 40px 40px;
  @include transition( all, .3s, ease );

  &.active {
    left: 0;
  }

  .menu-lang {
    margin-top: -20px;
  }
  
  .menu-header {
    padding-top: 30px;

    a {
      border-bottom: 1px solid rgb(68, 68, 68);
      padding: 1em 0;
      display: block;
      color: rgb(179, 179, 177);
      font-size: 1.1em;
      font-weight: 300;

      &:hover {
        color: rgb( 255, 255, 255 );
      }
    }
  }

  .menu-stats {
    margin-top: 10px;
    padding: 20px 0;

    h2 {
      color: rgb(238, 238, 238);
      font-size: 30px;
      margin-bottom: 15px;
    }

    small {
      font-size: 14px;
      vertical-align: middle;
    }
  }

  .menu-footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;

    font-size: .9em;
    color: rgb(163, 163, 163);

    a {
      color: rgb(201, 201, 201);
      border-bottom: 1px solid;

      &:hover {
        border: 0;
      }
    }
  }
}
