$serif: "Constantia", Georgia, Cambria, "Times New Roman", Times, serif;
$roboto: "Roboto Slab", Georgia, Cambria, "Times New Roman", Times, serif;
$sans-serif: "Helvetica Neue", "Helvetica", Arial, serif;

$blue: rgba(43, 147, 250, 0.91)