<div class="books" ng-controller="AuthorCtrl">
  <div class="container">
    {{author}}
    <ul class="unstyled">
      <li class="book" ng-repeat="book in books">
        <div class="book-image" style="background-color: {{book.color}}">
          <h3 class="book-iauthor">
            {{book.author}}
          </h3>
          <div class="book-ititle {{book.size}}">
            {{book.title}}
          </div>
        </div>

        <div class="book-info">
          <h2 class="book-title"><a ng-href="#/books/{{book.title}}">{{book.title}}</a></h2>
          <h5 class="book-meta">
            <span>by <a ng-href="#/authors/{{book.author}}">{{book.author}}</a></span> · <span class="tags" ng-repeat="tag in book.tags"><a ng-href="#/categories/{{tag}}">{{tag}}</a></span>
          </h5>

          <blockquote class="book-description">{{book.description}}</blockquote>

          <ul class="book-download">
            <li class="book-link" ng-repeat="link in book.links"><a href="{{link.link}}" class="btn btn-blue btn-download">{{link.type}}</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>