<div class="books" ng-controller="BookCtrl">
  <div class="container">
    <ul class="unstyled">
      <li class="book" ng-repeat="row in book">
        <div class="book-image" style="background-color: {{row.color}}">
          <h3 class="book-iauthor">
            {{row.author}}
          </h3>
          <div class="book-ititle {{row.size}}">
            {{row.title}}
          </div>
        </div>

        <div class="book-info">
          <h2 class="book-title"><a ng-href="#/books/{{row.title}}">{{row.title}}</a></h2>
          <h5 class="book-meta">
            <span>by <a ng-href="#/authors/{{row.author}}">{{row.author}}</a></span> · <span class="tags" ng-repeat="tag in book.tags"><a ng-href="#/categories/{{tag}}">{{tag}}</a></span>
          </h5>

          <blockquote class="book-description">{{row.description}}</blockquote>

          <ul class="book-download">
            <li class="book-link" ng-repeat="link in book.links"><a href="{{link.link}}" class="btn btn-blue btn-download">{{link.type}}</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>