<div class="" ng-controller="BooksAddCtrl">
  <div class="container">
    <form class="form-add">
      <input type="text" class="input-medium" placeholder="Оригинальное название книги">
      <input type="text" class="input-medium" placeholder="Русское название книги">
      <input type="text" class="input-medium" placeholder="Автор">
      <input type="text" class="input-medium" placeholder="ISBN">
      <textarea rows="3" placeholder="Описание"></textarea>
      <input type="text" class="input-medium" placeholder="Тэги">
      <button type="submit" class="btn">Добавить</button>
    </form>
  </div>
</div>