<div class="statistics">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h2>+5</h2>
        <p>books today</p>
      </div>
      <div class="span3">
        <h2>217</h2>
        <p>books</p>
      </div>
      <div class="span3">
        <h2>2,170</h2>
        <p>authors</p>
      </div>
      <div class="span3">
        <h2>217</h2>
        <p>tags</p>
      </div>
    </div>
  </div>
</div>

<div class="books">
  <div class="container">
    <ul class="unstyled">
      <li class="book">
        <img src="" alt="" class="book-image">

        <div class="book-info">
          <h2 class="book-title">Dune</h2>
          <h5 class="book-meta">
            <span>by <a href="">Frank Herbert</a></span> · <span><a href="#">thriller</a>, <a href="#">adventure</a>, <a href="#">science fiction</a></span>
          </h5>

          <blockquote class="book-description">Follows the adventures of Paul Atreides, the son of a betrayed duke given up for dead on a treacherous desert planet and adopted by its fierce, nomadic people, who help him unravel his most unexpected destiny.</blockquote>

          <ul class="book-download">
            <li class="book-link"><a href="#" class="btn btn-blue btn-download">epub</a></li>
            <li class="book-link"><a href="#" class="btn btn-blue btn-download">pdf</a></li>
            <li class="book-link"><a href="#" class="btn btn-blue btn-download">html</a></li>
          </ul>
        </div>
      </li>
      
      <li class="book">
        <img src="" alt="" class="book-image">

        <div class="book-info">
          <h2 class="book-title">Dune</h2>
          <h5 class="book-meta">by <a href="">Frank Herbert</a></h5>

          <blockquote class="book-description">
            Follows the adventures of Paul Atreides, the son of a betrayed duke given up for dead on a treacherous desert planet and adopted by its fierce, nomadic people, who help him unravel his most unexpected destiny.
          </blockquote>
        </div>
      </li>
    </ul>
  </div>
</div>