<div class="statistics">
  <div class="container">
    <div class="row">
      <div class="span3">
        <h2>+5</h2>
        <p>books today</p>
      </div>
      <div class="span3">
        <h2>217</h2>
        <p>books</p>
      </div>
      <div class="span3">
        <h2>2,170</h2>
        <p>authors</p>
      </div>
      <div class="span3">
        <h2>217</h2>
        <p>tags</p>
      </div>
    </div>
  </div>
</div>

<div class="books" ng-controller="BooksCtrl">
  <div class="container">
    <ul class="unstyled">
      <li class="book" ng-repeat="book in books">
        <div class="book-image" style="background-color: {{book.color}}">
          <h3 class="book-iauthor">
            {{book.author}}
          </h3>
          <div class="book-ititle">
            {{book.title}}
          </div>
        </div>

        <div class="book-info">
          <h2 class="book-title">{{book.title}}</h2>
          <h5 class="book-meta">
            <span>by <a href="">{{book.author}}</a></span> · <span class="tags" ng-repeat="tag in book.tags"><a href="/categories/{{tag}}">{{tag}}</a></span>
          </h5>

          <blockquote class="book-description">{{book.description}}</blockquote>

          <ul class="book-download">
            <li class="book-link" ng-repeat="link in book.links"><a href="{{link.link}}" class="btn btn-blue btn-download">{{link.type}}</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>